---
const name = Astro.params.name;
import MainLayout from "../../../layout/MainLayout.astro";
import Sections from "../../../database/sections.json";
import Cards from "../../../components/Cards.astro";

export async function getStaticPaths() {
  return [
    Sections.map((ele) => {
      return {
        params: {
          name: ele,
        },
      };
    }),
  ];
}
import MainData from "../../../database/MainData.json";
var Data = [];
try {
  var Data_temp = MainData.find((ele) => ele.section == name);
  Data_temp ? (Data = Data_temp.data) : null;
} catch (e) {
  throw new Error(e);
}
// import Data from `../../database/${name}.json`;
---

<MainLayout title={`Idea Arca - ${name}`}>
  <span id="websiteUrl"></span>
  <main>
    {
      Data &&
        Data.length > 0 &&
        Data.map((ele) => {
          return (
            <Cards
              id={ele.id}
              title={ele.title}
              tags={ele.tags}
              description={ele.description}
              link={ele.link}
              section={name}
            />
          );
        })
    }
  </main>
</MainLayout>

<script>
  document.getElementById("websiteUrl").textContent = window.location.pathname
    .split("/")[2]
    .replaceAll("%20", " ");
</script>
