---
import MainLayout from "../layout/MainLayout.astro";
const repoURL = "https://github.com/dev-AshishRanjan/Idea-Arca";
---

<MainLayout title="Idea Arca">
  <section class="details">
    <div class="hero">
      <a href="/" class="title">Idea Arca</a>
      <p>
        Idea Arca (Latin: "Idea Vault") is a Project Idea Bank. Unleash your
        tech creativity. Discover, collaborate, and bring to life innovative
        project ideas in various tech fields through this inspirational
        repository.
      </p>
      <p class="typed">
        <img
          src=""
          class="typing"
          loading="lazy"
          alt=""
          <img
          alt=""
          loading="lazy"
          src="https://capsule-render.vercel.app/api?type=rect&color=gradient&height=1.5"
        />
      </p>
    </div>
    <div class="github-details">
      <a href={`${repoURL}/forks`} target="_blank" class="forks">
        <p class="client">0</p>
        <p>Forks</p>
      </a>
      <a href={`${repoURL}/stargazers`} target="_blank" class="stars">
        <p class="client">0</p>
        <p>Stars</p>
      </a>
      <a href={`${repoURL}/issues`} target="_blank" class="issues">
        <p class="client">0</p>
        <p>Open Issues</p>
      </a>
      <div class="language">
        <p class="client">JS</p>
      </div>
      <div class="license">
        <p class="client">MIT</p>
      </div>
    </div>
  </section>
</MainLayout>

<style lang="scss">
  .details {
    flex-direction: row;
    flex-wrap: nowrap;
    .hero {
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      .title {
        letter-spacing: -3px;
        text-decoration: none;
        background: radial-gradient(
          circle at top,
          var(--primary-4),
          var(--primary-3)
        );
        color: transparent;
        // mix-blend-mode: overlay;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        font-size: 4rem;
        font-weight: 900;
        transition: all 0.1s ease-in-out;
        &:hover {
          background: radial-gradient(
            circle at right,
            var(--primary-4),
            var(--primary-3)
          );
          // mix-blend-mode: overlay;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: var(--primary-3);
          -moz-background-clip: text;
          -moz-text-stroke-width: 1px;
          -moz-text-stroke-color: var(--primary-3);
        }
      }
      p {
        word-wrap: break-word;
        width: 70%;
        // font-weight: 100;
        // word-break: break-all;
        .typing {
          height: fit-content;
          width: fit-content;
          display: none;
        }
      }
    }
    .github-details {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 17rem;
      gap: 1.5rem;
      max-height: 20rem;
      // background: red;
      a {
        text-decoration: none;
        color: var(--primary-3);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .client {
        font-size: 2rem;
        // color: var(--primary-4);
      }
      div {
        width: 100%;
        text-align: center;
      }
    }
  }

  @media (max-width: 1000px) {
    .details {
      flex-direction: column;
      gap: 4.5rem;
      .hero {
        width: 90%;
        .title {
          font-size: 2rem;
        }
        .typed {
          display: none;
        }
      }
      .github-details {
        width: 90%;
        .client {
          font-size: 1.5rem;
        }
        div {
          width: unset;
        }
      }
    }
  }

  @media (max-width: 800px) {
    .details {
      gap: 5rem;
      .hero {
        width: 100%;
      }
      .github-details {
        width: 100%;
        background: transparent;
        backdrop-filter: blur(0.15rem);
        border: 1px dashed var(--primary-3);
        border-radius: 0.5rem;
        padding: 1.5rem;
      }
    }
  }
</style>

<script>
  const repoName = "dev-AshishRanjan/Idea-Arca";
  const getRepoInfo = async (repoName) => {
    const response = await fetch(`https://api.github.com/repos/${repoName}`);
    const data = await response.json();

    return {
      forks: data.forks,
      stars: data.stargazers_count,
      issues: data.open_issues,
      language: data.language,
      license: data.license.name,
    };
  };

  const githubarray = ["forks", "stars", "issues", "language", "license"];
  const { forks, stars, issues, language, license } = await getRepoInfo(
    repoName
  );
  console.log({ forks, stars });
  githubarray.forEach((ele_in) => {
    const Ele = document.querySelector(`.${ele_in}>.client`);
    Ele.innerHTML = eval(ele_in);
  });

  // Typing color

  function handleThemeChange() {
    const textColor = window
      .getComputedStyle(document.querySelector(":root"))
      .getPropertyValue("--primary-3");
    const textVal = textColor.split("#")[1];

    const typing = document.querySelector(".typing");
    const url = `https://readme-typing-svg.herokuapp.com?color=%23${textVal}&lines=Welcome+to+Idea Arca+!;Let's+Build+Together;Get Your New project Idea;Check+our+GitHub+Repo;Thanks+for+Contributing`;
    typing.setAttribute("src", url);
    typing.style.display = "block";
  }

  document.querySelector(":root").addEventListener("change", handleThemeChange);
  handleThemeChange();
</script>
